*{margin: 0; padding: 0; border: 0;}

img{max-width: 300px;}
ul{list-style: none;}

body{
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    background: #EEEEEE;
}

.content{
    margin: auto;
    width: 90vw;
    max-width: 1140px;
    padding: 20px 0;
}

.navbar{
    background: #222222;
    color: #FFFFFF;
    z-index: 1;

    .navbarContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 90vw;
        max-width: 1140px;

        .navbarLogo{
            height: 8vh;
            padding: 1vh 0;
            display: flex;
            align-items: center;
            font-size: 2rem;
            text-decoration: none;

            img{
                height: 100%;
                width: auto;
            }
            &::after{
                font-weight: lighter;
                content: 'BUSINESSPEDIA';
                color: #ffffff;
                margin-left: 10px;
            }
        }

        ul{
            display: flex;
            li{
                color: #CECECE;
                font-weight: bold;
                margin: 10px;
                cursor: pointer;
                &:hover{
                    color: #FFFFFF;
                }
                a{
                    text-decoration: none;
                    color: #CECECE;
                    &:hover{
                        color: #FFFFFF;
                    }
                }

            }
        }
    }

    .indexPrices{
        background: #333333;
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        div{
            display: flex;
            justify-content: space-around;
            max-width: 1140px;
            width: 90%;
            ul{
                display: flex;
                padding: 5px 10px;
                li{
                    padding: 0 2px;
                }
            }
        }
    }
}

.btnSearch{
    margin-bottom: 20px;
    select{
        width: 100%;
        font-size: 1.4rem;
        padding: 10px;
        border-radius: 2px;
        border: 1px solid #CECECE;
        box-sizing: border-box;
    }
}

.company{
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 20px;

    a{
        color: #DB4437;
        text-decoration: none;
    }
    .companyProfile{
        display: flex;
        align-items: center;
        min-height: 50px;
        margin-bottom: 10px;
        .companyLogo{
            padding: 0 10px 10px 0;
            height: 80px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 2px;
            }
        }
    }
    .companyDesc{
        font-size: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .companySidebar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 20vw;
        margin-left: 20px;
        padding-left: 20px;
        border-left: 1px solid #CECECE;
        li{
            line-height: 1.6rem;
            padding: 2px 0;
        }
    }

}



.companyFinancials{
    background: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    
    .companyFInancialTable{
        overflow-x: auto;
    }

    #btnQA, .ARTitle{
        cursor: pointer;
        display: block;
        width: 100%;
        padding: 10px;
        background: #222222;
        border-radius: 0;
        border: 2px solid #222222;
        color: #FFFFFF;
        transition: ease-in-out 400ms;
        &:hover{
            color: #222222;
            background: transparent;
        }
    }

    #QA{
        display: none;
    }

    table{
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        margin-top: 1px;

        thead{
            th{
                padding: 5px;
                color: #FFFFFF;
                background: #222222;
                border-bottom: 1px solid #FFFFFF;
            }
        }

        tbody{
            th{
                padding: 5px;
                font-size: 0.8rem;
                &:first-child{
                    color: #ffffff;
                    background: rgba(66, 133, 244, 1);
                    border-bottom: 1px solid #EEEEEE;
                }
            }
            tr{
                &:nth-child(even){
                    background: #f5f5f5;
                }
                &:hover{
                    background: rgba(66, 133, 244, 0.2);
                    cursor: pointer;
                }
                th{
                    border: 1px solid #EEEEEE;
                    box-sizing: content-box;
                }
            }
        }
    }
}

.chartPrice{
    background: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.mainContent{
    display: flex;
    flex-direction: row;
    .companyNews{
        h2{
            color: #DB4437;
        }

        a{  
            color: #333333;
            display: flex;
            text-decoration: none;
            margin: 0 0 20px;
            border-bottom: 1px solid #CECECE;
            padding-bottom: 20px;
            &:last-child{
                margin: 0;
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
        
        .companyNewsImg{
            min-width: 250px;
            min-height: 150px;
            max-height: 150px;
            overflow: hidden;
            border-radius: 2px;

            img{
                min-width: 100%;
                height: 100%;
            }
        }

        .companyNewsTxt{
            padding: 10px 10px;
        }
    }

    .contentSidebar{
        margin-left: 20px;

        .recommendation, .indixes, .currency{
            background: #FFFFFF;
            border: 1px solid #CECECE;
            border-radius: 2px;
            margin-bottom: 20px;
            text-align: center;

            .sidebarTitles{
                display: block;
                text-align: center;
                font-weight: bold;
                font-size: 1.5rem;
                white-space: nowrap;
                padding: 20px 20px 10px 20px;
                border-bottom: 1px solid #CECECE;
                color: #DB4437;
            }

            ul{
                padding: 20px 20px 0 20px;
                &:last-child{
                    padding: 20px 20px 20px 20px;
                }
            }
        }

        .recommendation{
            .recommendationContent{
                padding: 10px;
                p{
                    color: #777777;
                }
            }
        }

        .indixes{
            ul{
                border-bottom: 1px solid #CECECE;
                padding-bottom: 20px;
                &:last-child{
                    border-bottom: 0;
                }
            }

            .indexesName{
                font-size: 1.5rem;
            }

            .indexesPrice{
                font-size: 2rem;
                font-weight: bold;
            }

            .indexesChanges{
                font-weight: bold;
                span{
                    margin: 0 5px;
                    &:first-child{
                        margin: 0 5px 5px 0;
                    }
                }
            }
        }

        .currency{
            font-size: 1.5rem;
            img{
                max-width: 40px;
                margin: 0 10px;
            }
            
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}

.footer{
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    border-top: 1px solid #CECECE;
    .footerContainer{
        padding: 10px 0;
        img{
            height: 30px;
        }
    }
}

@media only screen and (max-width: 800px){
    .navbar{
        .navbarContainer{
            .navbarLogo{
                &::after{
                    content: 'BSNPEDIA';
                }
            }           
        }
    }
    
    .company{
        flex-direction: column;

        .comapanyDesc{
            padding-right: 0;
        }

        .companySidebar{
            margin-top: 20px;
            min-width: 0;
            margin-left: 0;
            padding-left: 0;
            border-left: 1px solid transparent;
            li{
                line-height: 1.6rem;
            }
        }
    }
    
    .mainContent{
        display: flex;
        flex-direction: column;

        .companyNews{
            flex-direction: column;

            .companyNewsTxt{
                padding: 10px 0;
            }
        }
        
        .contentSidebar{
            margin-top: 20px;
            margin-left: 0;
        }
    }
}

