*{border: 0; padding: 0; margin: 0;}
ul{list-style: none;}
li{margin-bottom: 1vh;}

$font-stack: 'Open Sans', sans-serif;
$Businesspedia-b: #003B70;
$Businesspedia-r: #D9261C;
$Businesspedia-g1: #CECECE;
$Businesspedia-g2: #EEEEEE;
$Businesspedia-w: #FFFFFF;

body{
    font-family: $font-stack;
    background: #f9f9f9;
    color: #333333;
    display: flex;
    justify-content: center;
}

.mainContainer{
    margin: 12vh 2vw 0;
    max-width: 1200px;
}

.navbar{
    width: 100%;
    min-height: 10vh;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #003B70;
    border: 1px solid #CECECE;
    color: #ffffff;

    .container{
        width: 90%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        #Logo{
            max-height: 40px;
            padding: 5px 0 0;
        }

        #Menu{
            display: flex;
            p{
                padding-left:10px;
                color: #ffffff;
                transition: 200ms ease-in-out;
            }
        }
    }
}

.priceBar{
    text-align: center;
    width: 100%;
    color: #ffffff;
    background: #D9261C;
}

.btnSearch{
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    margin: 0 0 20px;
    border-radius: 2px;
    border: 1px solid #cccccc;
}

.businessCard{
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #cccccc;
    padding: 20px;
    margin-bottom: 20px;

    .company{
        display: flex;
        justify-content: center;
        align-items: center;
        .companyLogo{
            height: 150px;
            padding: 10px;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .companyName{
            width: 100%;
        }
    }
    .companyTags{
        display: flex;
        padding: 10px 0;
        ul{
            .tags{
                font-weight: bold;
            }
            flex: 1;
        }
    }
    .companyDesc{
        font-size: 0.9rem;

        a{
            color: #ffffff;
            font-weight: bold;
            background: #D9261C;
            border: 2px solid #D9261C;
            box-sizing: border-box;
            display: block;
            text-decoration: none;
            text-align: center;
            border-radius: 2px;
            padding: 5px;
            margin-top: 5px;
            transition: 200ms ease-in-out;
            &:hover{
                background: transparent;
                color: #D9261C;
            }
        }
    }
    
}

.companyFinancials{
    text-align: center;
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #cccccc;
    padding: 20px;
    margin-bottom: 20px;

    h2{color: #003B70;
    }

    table{
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;

        thead{
            background: #003B70;
            color: #FFFFFF;
        }

        th, tr{
            border: 1px solid #eeeeee;
            padding: 5px;
            box-sizing: content-box;
        }

        
        tbody{
            font-size: 0.85rem;

            tr th:first-child{
                background: rgba(0, 59, 112, 0.1);
                border: 1px solid #FFFFFF;
            }

            tr:hover{
                background: #eeeeee;
                cursor: pointer;
            }
        }
    }
}

.companyNewsBox{
    display: grid;
    grid-template-columns: 2fr 1fr;

    .companyNews{
        display: flex;
        margin-bottom: 20px;

        h2{
            color: #D9261C;
        }
    }
    .companyNewsImg{
        max-width: 300px;
        min-width: 300px;
        max-height: 200px;
        min-height: 200px;
        border-radius: 2px;
        overflow: hidden;
    }

    a{
        text-decoration: none;
        color: #333333;
    }

    a img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 600ms ease-in-out;
    }

    a:hover img{
            width: 105%;
            height: 105%;
    }

    .companyNewsTxt{
        padding: 10px;
    }

    .companyCoins{
        margin: 0 0 20px 20px;
        background: #FFFFFF;
        border-radius: 2px;
        border: 1px solid #cccccc;
        padding: 20px;
    }

}

footer{
    height: 10vh;
    background: #D9261C;
}
